<%- include(`../partials/header`) %>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/logout" class="navbar-brand" >Log Out</a>
        <a href="/profile/<%= currentUser._id %>" class="navbar-brand" >My Profile</a>
        <a href="/post/newPost" class="navbar-brand">Make a new post</a>
    </div>
  </nav>


<h1><%= userFoundById.userName %></h1>
<img class="profile-pic" src="<%= userFoundById.profilePicture %>">
<div class="post-text intro-size">
    <% if(userFoundById.bio && userFoundById.bio.length !== 0) { %>
        <p><%= userFoundById.bio %></p>
    <% }%>

    <% if(userFoundById._id.equals(currentUser && currentUser._id)) { %>
        <p><a href="/profile/update">Update Profile</a></p>
        <p><a href="/post/newPost">Make a new post</a></p>
    <% }%>
</div>
<h3>Posts: </h3>
<% if (userFoundById.posts.length === 0 ) { %>
    <p>No posts yet!</p>
<% } %>
<% userFoundById.posts.forEach( post => { %>
    <div class="post post-text">
        <div class="post-title post-text">
            <div class="post-owner post-text">
                <img class="small-profile-pic" src="<%= userFoundById.profilePicture %>">
                <p><a href="/profile/<%= userFoundById._id %>"><%= userFoundById.userName %></a></p>
            </div>
           <div>
               <p><%= post.restaurant %></p>
           </div>
        </div>
        <img class="post-pic" src="<%= post.picture %>" alt="">
        <div class="post-body post-text">
            <p><%= post.caption %></p>
            <h5>Comments:</h5>
            <% if (post.comments.length === 0 ) { %>
                <p>No comments yet!</p>
            <% } %>
            <% post.comments.forEach(comment => { %>
                <p><%= comment.comment %></p>
            <% }) %>

            <form action="/post/comment/<%= post._id %>" method="POST">
                <input type="text" name="comment" placeholder="comment">
                <button type="submit">Add Comment</button>
            </form> 
            <% if(userFoundById._id.equals(currentUser && currentUser._id)) { %>
            <form action="/post/delete/<%= post._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Post</button>
            </form>
            <form action="/post/edit/<%= post._id %>" method="GET">
                <button type="submit">Edit Post</button>
            </form>
            <% } %> 
<% }) %>




<%- include(`../partials/footer`) %>