<%- include(`../partials/header`) %>
<h1>Profile for: <%= userFoundById.userName %></h1>
<h1>User is: <%= currentUser.userName %></h1>
<p><a href="/logout">Log Out</a></p>
<img src="<%= userFoundById.profilePicture %>">
<p>Connections: </p>
<% if (userFoundById.fellowFoodies.length === 0 ) { %>
    <p>You don't have any fellow foodies yet!</p>
<% } %>
<% userFoundById.fellowFoodies.forEach(fellow => { %>
    <ul>
        <li><%= fellow.userName %></li>
    </ul>
<% }) %>

<p>Posts: </p>
<% if (userFoundById.posts.length === 0 ) { %>
    <p>You have not made any posts yet!</p>
<% } %>
<% userFoundById.posts.forEach(post => { %>
    <ul>
        <li><%= post.caption %></li>
    </ul>
<% }) %>

<% if(userFoundById._id.equals(currentUser && currentUser._id)) { %>
    <a href="/post/newPost">Make a new post</a>
<% } %>


<%- include(`../partials/footer`) %>