<%- include(`../partials/header`) %>
<h1><%= userFoundById.userName %></h1>
<p><a href="/logout">Log Out</a></p>
<p><a href="/feed">Back to my feed</a></p>
<% if(userFoundById._id.equals(currentUser && currentUser._id)) { %>
    <p><a href="/post/newPost">Make a new post</a></p>
<% }%>
<img class="profile-pic" src="<%= userFoundById.profilePicture %>">

<p>Posts: </p>
<% if (userFoundById.posts.length === 0 ) { %>
    <p>No posts yet!</p>
<% } %>
<% userFoundById.posts.forEach( post => { %>
    <div class="post">
        <div class="post-title">
            <div class="post-owner">
                <img class="small-profile-pic" src="<%= userFoundById.profilePicture %>">
                <p><a href="/profile/<%= userFoundById._id %>"><%= userFoundById.userName %></a></p>
            </div>
           <div>
               <p><%= post.restaurant %></p>
           </div>
        </div>
        <img class="post-pic" src="<%= post.picture %>" alt="">
        <div class="post-body">
            <p><%= post.caption %></p>
            <% if(userFoundById._id.equals(currentUser && currentUser._id)) { %>
            <form action="/post/delete/<%= post._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Post</button>
            </form>
            <% } %> 
<% }) %>




<%- include(`../partials/footer`) %>